/* Background Image*/
body {
    background: url("../images/yosemite.jpg") 50% no-repeat;
    background-size: 113%;
    height: 98vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
/*LOGO*/
#logo {margin-bottom: -90px;
    width: 300px;}
   

.section-text {color: #fefefe;
               text-shadow: 1px 1px 2px #0a0a0a;
                margin-bottom: 100px;}

h1 {font-size: 25px;}

/*Input Buttons*/
#inputbtn {width: 200px;
           height: 20px;
           border-radius: 10px;}

#enterbtn {background: red;
           color: white;
           height: 25px;
           border-radius: 10px;
           margin-left: 5px;
           margin-top: 10px;}

input {text-align: center;}

#parkCode-input {width: 200px;}

#stateCode-input {width: 200px;
text-align: center;}

label {background: lightskyblue;
color: white;}



  
  

